section {
    padding-bottom: 50px;
}

.portfolio_title span {
    color: #57a178;
    font-weight: 600;
}

.portfolio_wrapper img {


    width: 500px;
    max-height: 400px;

}

.portfolio_wrapper {
    background: #57a178;
    border-radius: 10px;
    padding: 40px;
}
.portfolio_title{
    padding-top: 70px;
    color: #fff;
}