.form {
    width: 100%;
    background: #8af3b952;
    padding: 30px;
    border-radius: 5px;
}

.form_input input,
.form_input textarea {
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    margin-bottom: 15px;
    background: #8af3b90b;
    border: none;
    outline: none;
    font-size: 0.8rem;
}

.form_input textarea::placeholder {
    color: #fff;
}

.form_input input::placeholder {
    color: #fff;
}

.submit_btn {
    margin-top: 15px;
    padding: 7px 25px;
    font-size: 0.9rem;
    background: #57a178;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff
}