.skills_btns {
    background: #18482d;
    border-radius: 10px;

}

.skills_btn {
    width: 100%;
    padding: 20px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 5px 5px 0px 0px
}

.skills_btn:last-child {
    border-bottom: 0;
    border-radius: 0px 0px 5px 5px
}

.skills_btn-active {
    background: rgb(0, 61, 33);

}

.skills_content_wrapper {
    background: #18482d;
    padding: 30px;
    border-radius: 10px;
}

.skills_content h2 {
    margin-bottom: 15px;
    color: #fff
}

.skills_content p {
    line-height: 30px;
    font-weight: 300;
    color: #fff
}

.social_links {
    color: rgb(255, 255, 255);
}

.social_links i {
    color: rgb(165, 243, 207);
}

.social_links span {
    margin-top: 10px;
    margin-right: 15px;
}

.about_img {
    background: #18482d;
    border-radius: 10px;
    height: 138x;
}

section {
    padding-bottom: 100px;
}

.skills_title span {
    color: #57a178;
    font-weight: 600;
}

.skills_title {
    color: #fff;
    padding-top: 80px;
}

.skills_wrapper {
    background: #18482d;
    border-radius: 10px;
    color: #fff;
    padding: 40px;
}

.skills_wrapper img {
    width: 50px;
}


.skill_title {
    padding: 50px;
    border-radius: 10px;

    text-align: center;

}

.skill_title h4 {
    color: black;
    opacity: 90%;
}

